@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');

.advice-title{
    color: white;
    background-color: rgb(181, 216, 107);
    padding: 200px;
    text-align: center;
    font-family: 'Gluten', cursive;
    font-size: 39px;
    font-weight: bolder;
}

.toggle-color{
  background-color: rgb(181, 216, 107);
  padding-left: 20px;
  padding-top: 2px;
}


.image-sizes{
  width: 400px;
  height: 250px;
  border-radius: 100px;
  
}

.image-sizes p{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 00px;
}

.p-details p{
    display: flex;
    text-align: center;
    margin-left: 150px;
}

.p-details h2 {
    display: flex;
    flex-direction: row;
    font-size: large;
    color: grey;

}


.menu{
  display: flex;
  margin-top:450px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menuList{
  padding-top: 1600px;
  padding-right: 400px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 150px);
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1200px;
  grid-gap: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  text-align: center;
  font-size: larger;
  font-weight: 900;
  
}

