.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background:url('../Assets/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

}

.toggle.active{
    

}

.menu{
    position: absolute;
    top:75px;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image:url('../Assets/close.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.menu ul{
    position: relative;
    list-style: none;
    display:flex;
    flex-direction: column;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: black;

}

.menu ul li a:hover{
    color: aqua;
}
.close-button{
    background: none;
    border:none;
}